:root {
	--actual-height: 60vh;
  --main-width: 100%;
  --header-height: 4rem;
	--small-border: 0.1rem solid #00000022;
	--grid-width: 36rem;
	--text-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.75);

	--slide-left: translateX(1rem);
	--slide-up: translateY(1rem);

  --main-bg-color: #222;
	--main-text-color: #ddd;
  --header-color: #150d0d;
  --header-text-color: #5f835f;
	--text-highlight-color: rgb(160, 128, 68);
	--link-text-color: rgb(73, 105, 32);
	--button-color: rgb(113, 109, 109);
	--border-radius: 0.5rem;
}

*, * *, * * * {
	box-sizing: border-box;
	font-weight: normal;
}

span.highlighted {
  color: var(--text-highlight-color);
}

p.empty-message {
	font-style: italic;
	opacity: 0.75;
}

body {
  font-family: sans-serif;
  background-color: #222;
  color: #ddd;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	margin: 1rem;
	transition: all 400ms ease;
	/* transition-delay: 1000ms; */
}

main.obscured {
	opacity: 0;
	transform: var(--slide-left);
}

header, footer {
	width:100%;
	background:var(--header-color);
  color: var(--header-text-color);
  display: flex;
  align-items: center;
}

header {
  height: var(--header-height);
  padding: 0 1rem!important;
  top: 0;
	justify-content: space-between;
}

header h1 {
  font-size: 1.25rem;
}

header a {
	color: unset;
}

#login-status-message {
	color: #ffffff56;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	gap: 0.15rem;
	padding-right: 1rem;
}

#login-status-message > span:last-of-type {
	width: max-content;
	font-weight: bold;
}

#login-status-message {
	text-align: right;
	flex-grow: 1;
	font-size: calc(var(--header-height) / 4);
}

#menu-button-area {
	width: 8rem;
	height: calc(var(--header-height));
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#menu-button {
	width: 100%;
	height: 100%;
	background-color: #ffffff66;
	border: 0;
	margin: 0;
	transition: all 300ms ease;
}

body.menu-open #menu-button {
	scale: 0.9;
}

body.menu-open #settings-menu {
	translate: 0 0;
}

#settings-menu {
	position: absolute;
	right: 0;
	top: var(--header-height);
	background-color: var(--main-bg-color);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--header-height) var(--header-height);
	translate: 100% 0;
	transition: all 300ms ease;
	z-index: 2;
}

#settings-menu > .menu-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	padding: 0 1rem;
	border: var(--small-border);
}

#settings-menu select {
	min-width: unset;
	width: max-content;
}

#settings-menu > div:nth-child(odd) {
	background-color: #00000022;
}

#settings-menu > div:nth-child(even) {
	background-color: #00000022;
}

hr {
	width: 100%;
}

a {
	color: var(--link-text-color);
	text-decoration: none;
	font-weight: bold;
	transition: text-shadow 400ms ease;
}

h3 {
	margin: 0.5rem 0;
}

ul {
	list-style-type: none;
	width: 95vw;
	min-width: 20rem;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	/* margin: 2rem 0; */
	margin-top: 0;
	margin-bottom: 2rem;
}

li {
	position: relative;
	background-color: #ffffff22;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

textarea {
  height: 4rem;
}

form {
	display: flex;
	flex-direction: column;
	width: min-content;
}

.form-row {
	position: relative;
}

.form-row:nth-child(odd) {
	background-color: #ffffff33;
}

.form-row:nth-child(even) {
	background-color: #ffffff22;
}

form > .form-row, .info-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
  gap: 1rem;
  background-color: #00000024;
  /* margin: 1rem; */
  min-width: max-content;
}

.form-row > *:first-child {
	min-width: 4rem;
}

.form-row:first-of-type > input {
	flex-grow: 1;
}

.form-row:first-of-type {
	flex-grow: 1;
	border-radius: var(--border-radius);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-row:last-of-type {
	margin-bottom: 1rem;
	border-radius: var(--border-radius);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-row.text-area > input {
	height: 4rem;
}

form > .form-row.form-grid {
	display: grid;
	grid-template-columns: 1fr 10rem 10rem;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	width: var(--grid-width);
	align-self: center;
}

form > .form-row.form-grid > h3 {
	margin: 0;
	width: 100%;
	grid-column-end: 3;
	text-align: center;
}

form > .form-row.form-grid > * {
	height: min-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form-grid .day-label {
	grid-column-start: 1;
}

.form-grid .start-time {
	grid-column-start: 2;
}
.form-grid .end-time {
	grid-column-start: 3;
}

.form-text-input-area > span:first-of-type {
  width: max-content;
}
.form-text-input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 22rem;
  min-width: 22rem;
}

input, select, textarea {
	padding: 0.25rem 0.5rem;
	font-family: inherit;
	font-size: inherit;
  min-width: 10rem;
	border-radius: calc(var(--border-radius) / 2);
	padding: 0.75rem 0.5rem;
}

input[type="number"] {
	width: 3rem;
}

button {
	font-family: inherit;
	font-size: inherit;
	padding: 1rem;
	background-color: var(--button-color);
	color: #eee;
	cursor: pointer;
	transition: color 400ms ease, background-color 200ms ease;
  border: var(--small-border);
	border-radius: var(--border-radius);
}

form > button {
	width: 12rem;
	align-self: center;
}

button.green {
	background-color: green;
}

button.yellow {
	background-color: rgb(152, 152, 0);
	min-width: 5.5rem;
}

button.red {
	background-color: rgb(159, 0, 0);
	width: max-content;
	min-width: 5.5rem;
}

button:hover {
	color: rgb(169, 236, 246);
	background-color: blue;
}
button:active {
	scale: 0.9;
}

.button-footer {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.capsule-list {
	width: var(--main-width);
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
}

.capsule-list li {
	width: max-content;
	min-height: 6rem;
	padding: 0 1.5rem;
	min-width: 10rem;
	align-items: center;
	justify-content: center;
	gap: 0 1rem;
	opacity: 0.8;
	transition: scale 200ms ease, opacity 200ms ease;
	border: var(--small-border);
	border-radius: var(--border-radius);
}

.capsule-list li:hover {
	scale: 1.05;
	opacity: 1;
}

.engineer-list {
	flex-direction: row;
	flex-wrap: wrap;
}

.capsule-list form {
	min-width: unset;
}
