@{
  Layout = "_Layout";
}

@model SweetTreat.Models.ApplicationUser


@using Microsoft.AspNetCore.Identity
@using SweetTreat.Models
@inject SignInManager<ApplicationUser> SignInManager

<h3>Hello @User.Identity.Name with the id @SignInManager.UserManager.GetUserId(User)</h3>



<div class="button-footer">
</div>