@{
  Layout = "_Layout";
}

@using LibraryCatalog.Models;

<div class="view-header"><h2>Authors</h2></div>

<div class="view-body index">
  @if (@Model.Count == 0)
  {
    <h3>No Authors have been added yet!</h3>
  }
  else
  {
    <ul class="capsule-list">
    @foreach (Author author in Model)
    {
      <li>@Html.ActionLink($"{author.FirstName} {author.LastName}", "Details", new { id = author.AuthorId })</li>
    }
    </ul>
  }
</div>

<div class="button-footer">
  <hr />
  <a href='@Url.Action("Create")'>
    <button class="green">Create new Author</button>
  </a>
  <a href='@Url.Action("Index", "Home")'>
    <button>Home</button>
  </a>
</div>