@{
  Layout = "_Layout";
}

@model SweetTreat.Models.Treat

<h3>Add a new Treat</h3>

@using (Html.BeginForm())
{
  <div class="form-row">
    @Html.LabelFor(model => model.Name) @Html.TextBoxFor(model => model.Name)

  </div>
  
  <button class="green" type="submit">Add new treat</button>
}

<div class="button-footer">
  <hr />
  <a href='@Url.Action("Index")'>
    <button>Show all treats</button>
  </a>
</div>